---
import PageDownArrow from "./PageDownArrow.astro";

export interface Props {
	diagramBase: string;
	diagramAlt?: Array<string>;
	diagramWidth?: number;
	diagramHeight?: number;
	diagramStackSeparator?: string;
	numberOfDiagrams?: number;
	// diagramStackSeparator is a background image on an ::after
	// for any linking or dividing image that goes between the diagram images
	// when they're stacked (i.e. on mobile)
	bgColour?: string;
	// adds a modifier class so the separator bg images can be specified in the style section
	// e.g. --sustainability-1, --sustainability-2
	colModifier?: string;
	sectionFixedHeight?: boolean;
	// also need to drill a prop down into the pageDownArrow if required (default is --white)
	pageDownArrowFillColour?: string;
}

const {
	diagramBase,
	diagramAlt = [],
	diagramWidth = 200,
	diagramHeight = 200,
	diagramStackSeparator = "",
	numberOfDiagrams = 3,
	bgColour = "var(--pageContentBgColour-1)",
	colModifier = "",
	sectionFixedHeight = true,
	pageDownArrowFillColour = "var(--white)",
} = Astro.props;

// tried this with img srcset sizes, no good, use picture instead
// picture is the obvious choice, just wanted to try and figure out how sizes works

const diagramSrcsetMob: Array<string> = [
	`/images/${diagramBase}-portrait-1.png`,
	`/images/${diagramBase}-portrait-2.png`,
	`/images/${diagramBase}-portrait-3.png`,
	`/images/${diagramBase}-portrait-4.png`,
];

const diagramSrcset: Array<string> = [
	`/images/${diagramBase}-1.png`,
	`/images/${diagramBase}-2.png`,
	`/images/${diagramBase}-3.png`,
	`/images/${diagramBase}-4.png`,
];

const diagramFallback: Array<string> = [
	`/images/${diagramBase}-1.png`,
	`/images/${diagramBase}-2.png`,
	`/images/${diagramBase}-3.png`,
	`/images/${diagramBase}-4.png`,
];

/*
const diagramSrcsetMob1 = `/images/${diagramBase}-portrait-1.png`;
const diagramSrcsetMob2 = `/images/${diagramBase}-portrait-2.png`;
const diagramSrcsetMob3 = `/images/${diagramBase}-portrait-3.png`;
const diagramSrcsetMob4 = `/images/${diagramBase}-portrait-4.png`;

const diagramSrcset1 = `/images/${diagramBase}-1.png`;
const diagramSrcset2 = `/images/${diagramBase}-2.png`;
const diagramSrcset3 = `/images/${diagramBase}-3.png`;
const diagramSrcset4 = `/images/${diagramBase}-4.png`;

const diagramFallback1 = `/images/${diagramBase}-1.png`;
const diagramFallback2 = `/images/${diagramBase}-2.png`;
const diagramFallback3 = `/images/${diagramBase}-3.png`;
const diagramFallback4 = `/images/${diagramBase}-4.png`;
*/

// max-width here should match max-width in the css media query (see below in the style section)
// (where the ::after is added)

const diagramMediaMax = "(max-width: 576px)";
const diagramMediaMin = "(min-width: 577px)";

// actual sizes of the pngs
// sustainability 820x1014
// development 941x1014

// see: https://www.smashingmagazine.com/2020/03/setting-height-width-images-important-again/
// to prevent the slight shift, these need to match the aspect ratio, so either pass the image dimensions as props
//  or consider redoing the diagrams so they're all the same aspect ratio

// for now just create an array from numberOfDiagrams to map the output for each diagram
// we could use the diagramAlt array, but don't really want to rely on it
// so we can do it with Array.from()
---

<div class="wrapper" class:list={[{ sectionFixedHeight }]}>
	<!-- wrapper div uses the negative margin / padding fiddle to get round using calc with svh. 
		No other padding or margin or any other styling should be used on it
		if fixedHeight isn't true it'll do nothing at all, just wrap -->
	<section class="section-diagram d-flex align-items-center" id="diagram">
		<div class="container">
			<div class="row no-gutters justify-content-center p-5">
				<!-- 1 column at xs (default) 3 columns at sm to lg, 3 quarter width columns at xl and above -->
				<!-- so the diagrams don't get too big at larger screen sizes -->

				{
					Array.from({ length: numberOfDiagrams }).map((n, i) => (
						<div
							class={`col-sm-${12 / numberOfDiagrams} col-xl-3 px-0 align-self-center section-diagram__col ${
								colModifier && "section-diagram__col" + colModifier + "-1"
							}`}
						>
							<picture>
								<source media={diagramMediaMax} srcset={diagramSrcsetMob[i]} />
								<source media={diagramMediaMin} srcset={diagramSrcset[i]} />

								<img
									src={diagramFallback[i]}
									alt={diagramAlt[i]}
									class="section-diagram__img"
									width={diagramWidth}
									height={diagramHeight}
									loading="lazy"
								/>
							</picture>
						</div>
					))
				}
			</div>
		</div>
		<PageDownArrow anchorLink="#contact" ariaLabel="Next section: Contact" fillColour={pageDownArrowFillColour} />
	</section>
</div>

<style define:vars={{ diagramStackSeparator, bgColour }}>
	.section-diagram {
		/* background-color: hsl(240, 2%, 90%); */
		background-color: var(--bgColour);

		/* now needs to be position relative b/c of the absolute positioning of the page down arrow */
		position: relative;
		/* and the z-index thing so it doesn't overlap on top of the previous section */
		/* z-index: -2; */
		flex: 1;
	}

	@media (max-width: 576px) {
		/* bit of extra bottom padding for mobile so the bottom diagram doesn't run into the pagedownarrow */
		.section-diagram {
			padding-bottom: 3rem;
		}
		.section-diagram__col:not(:last-child)::after {
			content: "";
			display: block;
			/* display: flex; */
			/* width: 50px; */
			/* height: 75px; */
			width: 100%;
			/* think we need to use padding-bottom here instead of height */
			/* if we want to use a percentage value */
			/* it's a percentage of the width btw! */
			padding-bottom: 20%;
			/* height: 50px; */
			margin: 0 auto;
			/* align-items: center; */
			/* justify-content: center; */
			background-image: var(--diagramStackSeparator);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			/* border: 1px solid lawngreen; */
		}

		/* just do some dedicated classes for the sustainability diagram separators */
		/* at least for now */
		.section-diagram__col.section-diagram__col--sustainability-1::after {
			background-image: url("/images/sustainability-diagram-plus.png");
		}
		.section-diagram__col.section-diagram__col--sustainability-2::after {
			background-image: url("/images/sustainability-diagram-equals.png");
		}
	}

	.section-diagram__img {
		max-width: 100%;
		/* border: 1px solid yellow; */
	}

	/* fixedHeight now in global.css */
</style>
